<h1>Jelszo csere</h1>

<%= form_for (current_user) do |f| %>
  <%= f.label 'Regi jelszo' %>
  <%= f.password_field :old_password %>
  <%= f.label 'Uj jelszo' %>
  <%= f.password_field :password %>
  <%= f.label 'Uj jelszo ujra' %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit 'OK' %>
<% end %>
 
