<%= form_for(:post, url: posts_path) do |f|%>
  
  <%= f.label "Cim" %>
  <%= f.text_field :title %>
  
  <%= f.label "Tartalom" %>
  <%= f.text_area :content %>
  
  <%= f.submit "OK" %>

<% end %>


<% elvegzett=[
  "Post letrehozas",
  "Belepteto rendszer, 1 userrel",
  "eljutni idaig",
  "nincs tobb..."] %>

<h2>Feladatok:</h1>

<p>Aktualis:</p>
<div class="feladat">Post megjelenites es modositas
</div>

<p>Elvegzett</p>
<ul>  
  <% elvegzett.each do |e| %>
    <li class="elvegzett"><%= e %></li>
  <% end %>
</ul>
