<% @post=Post.find_by_id(params[:id]) %>
<div id="post-title">
  <% if signed_in? %>
    <%= link_to @post.title.capitalize, edit_post_path(@post) %>
  <% else %>
    <%= @post.title.capitalize %>
  <% end %>
</div>

<div id="post-content">
  <% disp = @post.content %>
  <% if disp.empty? %>
    <%= "nincs tartalom... " %>
  <% else %>
    <% line = disp.split(';') %>
    <% line.each do |l| %>
      <% unless l.nil? || l.empty? %>
        <% element = l.split(':') %>
        <% case element.first.gsub("/\s+"," ").strip %>
          <% when 'text' %>
            <%= raw('<p>' + element.second + '</p>') %>
          <% when 'cim' %>
            <%= raw('<div class="post-cim">' + element.second + '</div>') %>
          <% else %>
            <%= raw('<div class="post-left">' + element.first + '</div>') %>
            <%= raw('<div class="post-right">' + element.second.to_s + '</div>') %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>